<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>優惠券查詢</title>
    <link rel="stylesheet" th:href="@{/css/couponStyle.css}">
</head>
<body>
<div class="search-box">
    <h2>優惠券查詢</h2>
    <form th:action="@{/coupon/listByCompositeQuery}" method="post">
        <div class="row">
            <label>優惠券名稱:</label>
            <input type="text" name="title" placeholder="例如：週年慶">
        </div>
        <div class="row">
            <label>優惠券內容:</label>
            <input type="text" name="content">
        </div>

        <div class="row">
            <label>開始日期:</label>
            <input type="date" name="start">
        </div>
        <div class="row">
            <label>結束日期:</label>
            <input type="date" name="end">
        </div>
        <div class="btn-row">
            <button type="submit">開始查詢</button>
            <button type="reset">重設條件</button>
        </div>
    </form>
    <hr>
    <!-- 新增優惠券按鈕 -->
    <div class="add-btn">
        <a th:href="@{/coupon/add-page}">新增優惠券</a>
    </div>
    <a th:href="@{/coupon/list-page}">所有優惠券列表</a>
</div>
</body>
</html>