<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改優惠券</title>
    <link rel="stylesheet" th:href="@{/css/back-end/admin_index.css}">
    <link rel="stylesheet" th:href="@{/css/couponStyle.css}">
</head>
<body>
<h2>修改優惠券資訊</h2>
<form th:action="@{/coupon/update}" method="post" th:object="${coupon}">
    <input type="hidden" th:field="*{couponNo}" />
    <input type="hidden" th:field="*{admNo}" />


    <div class="row">
        <label>優惠券編號:</label>
        <input type="text" th:value="*{couponNo}" readonly style="background: lightgray">
    </div>

    <div class="row">
        <label>管理員編號:</label>
        <span th:text="*{admNo}" ></span>
    </div>

    <div class="row">
        <label>標題:</label>
        <input type="text" th:field="*{couponTitle}" required />
    </div>

    <div class="row">
        <label>內容:</label>
        <textarea th:field="*{couponContent}" rows="4"></textarea>
    </div>

    <div class="row">
        <label>折價金額:</label>
        <input type="number" th:field="*{discountValue}" required placeholder="請輸入金額" />
        <span th:if="${#fields.hasErrors('discountValue')}" th:errors="*{discountValue}" class="error"></span>
    </div>

    <div class="row">
        <label>開始時間:</label>
        <input type="datetime-local"
               name="couponStart"
               step="60"
               th:value="${coupon.couponStart != null ? #strings.replace(#strings.substring(coupon.couponStart.toString(), 0, 16), ' ', 'T') : ''}"
               required />
    </div>

    <div class="row">
        <label>結束時間:</label>
        <input type="datetime-local"
               name="couponEnd"
               step="60"
               th:value="${coupon.couponEnd != null ? #strings.replace(#strings.substring(coupon.couponEnd.toString(), 0, 16), ' ', 'T') : ''}"
               required />
    </div>

    <button type="submit">確認儲存</button>
    <a href="/coupon/admin" class="btn btn-cancel">
        <i class="fas fa-times"></i> 取消返回
    </a>
</form>
</body>
</html>