<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>密碼重設連結已寄出|卡爾夏</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/front-end/members/forgotPasswordSent.css}">
</head>
<body class="light">

<div class="app-container">
  <div class="main-content">
    <div class="md-card">
      <div class="md-headline">重設連結已寄出</div>
      <div class="message">
        若您填寫的信箱存在，我們已發送密碼重設連結至該信箱。請於 15 分鐘內完成重設。
        <br><br>
        <span style="font-size: 0.9em; color: #666;">
            頁面將在 5 秒後自動跳轉至登入頁...
        </span>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  setTimeout(function() {
    // 使用 [[...]] 語法，Thymeleaf 才會正確解析路徑
    // 解析後會自動變成: window.location.href = "/您的專案名稱/shop";
    window.location.href = /*[[@{/shop}]]*/ '/shop';
  }, 5000);
  /*]]>*/
</script>
</body>
</html>