<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>忘記密碼|卡爾夏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/front-end/members/resetPassword.css}">

</head>
<body class="light">

<div class="app-container">
    <div class="main-content">
        <div class="content-area-main">
            <div class="md-card">
                <h2 class="md-headline">忘記密碼</h2>
                <form th:action="@{/members/forgotPassword}" method="post">
                    <div class="form-group">
                        <label for="email">請輸入註冊信箱</label> <input type="email" id="email"
                                                                         name="email" class="md-text-field" required
                                                                         placeholder="your@email.com">
                    </div>
                    <button type="submit" class="material-button md-primary-button">
                        <span class="material-icons">寄出驗證信件</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>