<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>連結失效|卡爾夏</title>
    <link rel="stylesheet" th:href="@{/css/front-end/members/resetPasswordError.css}">
</head>
<body class="light">
<div class="app-container">
    <div class="main-content">
        <div class="md-card">
            <h2 class="md-headline">連結失效</h2>
            <div class="error-message" th:text="${errorMsg}">
                重設連結已失效或無效，請重新申請。</div>
            <a th:href="@{/members/forgotPassword}" class="material-button">
                返回忘記密碼頁 </a>
        </div>
    </div>
</div>
</body>
</html>