<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>重設密碼|卡爾夏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/front-end/members/resetPassword.css}">
</head>
<body class="light">

<div class="app-container">
    <div class="main-content">
        <div class="md-card">
            <h2 class="md-headline">重設密碼</h2>

            <form th:action="@{/members/resetPassword}" method="post">
                <input type="hidden" name="token" th:value="${token}" />

                <div class="form-group">
                    <label for="newPassword">請輸入新密碼</label> <input type="password"
                                                                         id="newPassword" name="newPassword" class="md-text-field"
                                                                         pattern="^[a-zA-Z0-9_]{4,10}$" title="只能輸入英文、數字和底線，長度 4~10 字元"
                                                                         required>
                </div>

                <button type="submit" class="material-button md-primary-button">
                    確認重設</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>