<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer th:fragment="Footer">
    <div class="footer-col">
        <div class="footer-logo logo">卡爾夏</div>
    </div>
    <div class="footer-col">
        <h4>Shop</h4>
        <ul>
            <li>Shop Parts</li>
            <li>Wholesale</li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>The Company</h4>
        <ul>
            <li>About Us</li>
            <li>FAQ</li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
            <li>info@mysite.com</li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Follow Us</h4>
        <ul>
            <li>Instagram</li>
        </ul>
    </div>
</footer>

</body>
</html>