<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>審核中 - 卡爾夏汽車百貨</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/front-end/apply-pending.css}">
</head>
<body>

<div class="card">
    <div class="icon-box">
        <i class="fas fa-clock"></i>
    </div>
    <h2>資料審核中</h2>
    <p>
        謝謝您的申請！<br>
        我們的專員正快馬加鞭審核您的資料。<br>
        預計 <strong>3 個工作天</strong> 內會完成開通。
    </p>
    <a href="/members/home" class="btn">返回會員中心</a>
</div>

</body>
</html>