<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>卡爾夏汽車百貨</title>
<link rel="stylesheet" href="../../static/css/front-end/index.css" th:href="@{/css/front-end/index.css}" >
</head>
<body>

	<header>
		<div class="top-bar">
			<div>XXXXXXXXXXXXXXXXXXXXXXXXXX</div>
			<div class="top-icons">
				<div class="search-box">
					<input type="text" id="search-input" placeholder="Search..."
						style="background: transparent; border: none; color: white; width: 100%; outline: none;">
					<span>🔍</span>
				</div>
				<div class="user-dropdown-container">
					<span id="user-icon" style="cursor: pointer;">👤</span>
					<div id="user-dropdown" class="dropdown-menu">
						<a href="#">登入</a> <a href="#">註冊</a>
					</div>
				</div>
				<span id="cart">🛒</span>
			</div>
		</div>

		<div class="main-header">
			<div class="logo">卡爾夏</div>
			<nav class="nav-links">
				<a href="#">商城</a> <a href="#">安裝區</a>
				<a href="#">論壇</a> <a href="#">公告</a><a href="#">常見問題</a>
			</nav>
		</div>
	</header>

	<div class="container">

		<aside>
			<div class="sidebar-section">
				<h3 class="sidebar-title">Browse by</h3>
				<ul class="category-list" id="category-list">
					<li data-cat="All">所有商品</li>
					<li data-cat="name1">預設欄位</li>
					<li data-cat="name2">預設欄位</li>
					<li data-cat="name3">預設欄位</li>
					<li data-cat="name4">預設欄位</li>
					<li data-cat="name5">預設欄位</li>
					<li data-cat="name6">預設欄位</li>
				</ul>
			</div>
		</aside>
	</div>

	<footer>
		<div class="footer-col">
			<div class="footer-logo logo">卡爾夏</div>
		</div>
		<div class="footer-col">
			<h4>Shop</h4>
			<ul>
				<li>Shop Parts</li>
				<li>Wholesale</li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>The Company</h4>
			<ul>
				<li>About Us</li>
				<li>FAQ</li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>Contact Us</h4>
			<ul>
				<li>info@mysite.com</li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>Follow Us</h4>
			<ul>
				<li>Instagram</li>
			</ul>
		</div>
	</footer>

	<div class="chat-btn"></div>

	<script src="../../static/js/front-end/index.js" th:src="@{/js/front-end/index.js}"></script>

</body>
</html>